PORT=5000
MONGODB_URI=mongodb+srv://[username]:[password]@[cluster]/cloud_lab?retryWrites=true&w=majority
CLIENT_URL=https://mern-frontend-236894.onrender.com
BACKEND_URL=https://mern-backend-236894.onrender.com
NODE_ENV=production
